<html xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
    <title>Sharebuttons Partial</title>
</head>
<body>
<f:section name="main">
    <div class="share-buttons">
        <f:if condition="{data.flexform_sharebuttonsTitle}">
            <span class="pa-gridelements-layouts-share-title">{data.flexform_sharebuttonsTitle}</span>
        </f:if>

        <f:if condition="{data.flexform_sharebuttonsToCe}">
            <v:variable.set name="id" value="{f:format.urlencode(value: '#c{data.uid}')}" />
        </f:if>

        <ul>
            <li>
                <a href="//www.facebook.com/sharer.php?u={f:format.urlencode(value: '{v:uri.request()}{id}')}"
                   class="share-facebook" title="{f:translate(key: 'share-facebook')}" target='_blank'></a>
            </li>
            <li>
                <a href="//plus.google.com/share?url={f:format.urlencode(value: '{v:uri.request()}{id}')}"
                   class="share-google-plus" title="{f:translate(key: 'share-google-plus')}" target='_blank'></a>
            </li>
            <li>
                <a href="//twitter.com/home/?status={f:format.urlencode(value: '{v:uri.request()}{id}')}"
                   class="share-twitter" title="{f:translate(key: 'share-twitter')}" target='_blank'></a>
            </li>
        </ul>
    </div>
</f:section>
</body>
</html>