.contentslideout-after {
	display: none;
	
	.js-contentslideout-open & {
		display: block;
	}
}

.hiddencontent {
	display: none;

	.js-contentslideout-open & {
		display: block;
	}
}

.contentslideout-text-open {
	display: inline;
	.js-contentslideout-open & {
		display: none;
	}
}

.contentslideout-text-close {
	display: none;
	.js-contentslideout-open & {
		display: inline;
	}
}