<html xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>2 Column Template</title>
</head>
<body>
<f:layout name="Default"/>
<f:section name="Main">
	<f:if condition="{data.l18n_parent}">
		<f:then>
			<v:variable.set name="localizedAnchor"> data-localized-anchor="c{data.l18n_parent}"</v:variable.set>
		</f:then>
	</f:if>
	<v:variable.set name="ceUid">{data.uid}</v:variable.set>
	<f:if condition="{data._LOCALIZED_UID}">
		<f:then>
			<v:variable.set name="ceUid">{data._LOCALIZED_UID}</v:variable.set>
		</f:then>
	</f:if>
	<v:variable.set name="wrapperclasses">
		{data.pa_extended_fsc_additional_classes
		-> v:format.append(add: ' ')
		-> v:format.append(add: data.pa_extended_fsc_block_styles)
		-> v:format.replace(substring: ',', replacement: ' ')
		-> v:format.removeXss()}
	</v:variable.set>
	<div id="c{ceUid}" class="{wrapperclasses-> v:format.trim()}" {localizedAnchor-> f:format.raw()}>
	<f:format.raw>
		{data.tx_gridelements_view_column_101}
	</f:format.raw>
	</div>
</f:section>
</body>
</html>