<html xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:pgl="http://typo3.org/ns/Paints/PaGridelementsLayouts/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default"/>
<f:section name="Main">
	<v:variable.set name="collapseClasses" value="" />

	<f:if condition="{data.flexform_rowcollapse}">
		<f:then>
			<f:for each="{settings.breakpoints}" as="breakpoint">
				<pgl:inList list="{data.flexform_rowcollapse}" item="{breakpoint}">
					<f:then>
						<v:variable.set name="collapseClasses">{collapseClasses-> v:format.append(add: ' {breakpoint}-collapse')}</v:variable.set>
					</f:then>
					<f:else>
						<v:variable.set name="collapseClasses">{collapseClasses-> v:format.append(add: ' {breakpoint}-uncollapse')}</v:variable.set>
					</f:else>
				</pgl:inList>
			</f:for>
		</f:then>
	</f:if>
	<f:if condition="{data.l18n_parent}">
		<f:then>
			<v:variable.set name="localizedAnchor"> data-localized-anchor="c{data.l18n_parent}"</v:variable.set>
		</f:then>
	</f:if>
	<v:variable.set name="ceUid">{data.uid}</v:variable.set>
	<f:if condition="{data._LOCALIZED_UID}">
		<f:then>
			<v:variable.set name="ceUid">{data._LOCALIZED_UID}</v:variable.set>
		</f:then>
	</f:if>
	<v:variable.set name="wrapperclasses">
		{data.pa_extended_fsc_additional_classes
		-> v:format.append(add: ' row ')
		-> v:format.append(add: data.pa_extended_fsc_block_styles)
		-> v:format.append(add: collapseClasses)
		-> v:format.replace(substring: ',', replacement: ' ')
		-> v:format.removeXss()}
	</v:variable.set>

	<v:variable.set name="breakatbehaviour"><f:if condition="{data.flexform_breakatbehaviour}"><f:then>{data.flexform_breakatbehaviour}</f:then><f:else>medium</f:else></f:if></v:variable.set>

	<div id="c{ceUid}" class="{wrapperclasses-> v:format.trim()}" {localizedAnchor-> f:format.raw()}>
		<f:format.raw>
			<div class="{f:if(condition:'{breakatbehaviour} != \'small\'', then: 'small-12')} {breakatbehaviour}-{data.flexform_column1width} columns {data.flexform_column1classes} {breakatbehaviour}-order-{v:format.substring(content: '{data.flexform_breakbehaviour4c}', start: 0, length: 1)} {data.flexform_column1align}">
				<f:format.raw>
					{data.tx_gridelements_view_column_401}
				</f:format.raw>
			</div>
			<div class="{f:if(condition:'{breakatbehaviour} != \'small\'', then: 'small-12')} {breakatbehaviour}-{data.flexform_column2width} columns {data.flexform_column2classes} {breakatbehaviour}-order-{v:format.substring(content: '{data.flexform_breakbehaviour4c}', start: 2, length: 1)} {data.flexform_column2align}">
				<f:format.raw>
					{data.tx_gridelements_view_column_402}
				</f:format.raw>
			</div>
			<div class="{f:if(condition:'{breakatbehaviour} != \'small\'', then: 'small-12')} {breakatbehaviour}-{data.flexform_column3width} columns {data.flexform_column3classes} {breakatbehaviour}-order-{v:format.substring(content: '{data.flexform_breakbehaviour4c}', start: 4, length: 1)} {data.flexform_column3align}">
				<f:format.raw>
					{data.tx_gridelements_view_column_403}
				</f:format.raw>
			</div>
			<div class="{f:if(condition:'{breakatbehaviour} != \'small\'', then: 'small-12')} {breakatbehaviour}-{data.flexform_column4width} columns {data.flexform_column4classes} {breakatbehaviour}-order-{v:format.substring(content: '{data.flexform_breakbehaviour4c}', start: 6, length: 1)} {data.flexform_column4align}">
				<f:format.raw>
					{data.tx_gridelements_view_column_404}
				</f:format.raw>
			</div>
		</f:format.raw>
	</div>
</f:section>

</html>