<html xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default"/>
<f:section name="Main">
	<v:variable.set name="collapseClasses" value="" />

	<f:if condition="{data.l18n_parent}">
		<f:then>
			<v:variable.set name="localizedAnchor"> data-localized-anchor="c{data.l18n_parent}"</v:variable.set>
		</f:then>
	</f:if>
	<v:variable.set name="ceUid">{data.uid}</v:variable.set>
	<f:if condition="{data._LOCALIZED_UID}">
		<f:then>
			<v:variable.set name="ceUid">{data._LOCALIZED_UID}</v:variable.set>
		</f:then>
	</f:if>
	<v:variable.set name="wrapperclasses">
		{data.pa_extended_fsc_additional_classes
		-> v:format.append(add: ' ')
		-> v:format.append(add: data.pa_extended_fsc_block_styles)
		-> v:format.replace(substring: ',', replacement: ' ')
		-> v:format.removeXss()}
	</v:variable.set>

	<f:if condition="{data.flexform_hideContent}">
			<f:for each="{data.pi_flexform.data.hiddenContent.lDEF.hideContentAfter.el}" as="breakpointConfig">
				<f:if condition="{breakpointConfig.hideContentConfigurationItem.el.breakpointShowItems.vDEF} > 0">
					<v:variable.set name="breakpoints"><f:if condition="{breakpoints}">{breakpoints},</f:if>
						{breakpointConfig.hideContentConfigurationItem.el.breakpoint.vDEF}:{breakpointConfig.hideContentConfigurationItem.el.breakpointShowItems.vDEF}</v:variable.set>
				</f:if>

			</f:for>
	</f:if>
	<v:variable.set name="jsOptions">
		breakpoints: {<f:format.raw>{breakpoints}</f:format.raw>},
		<f:if condition="{settings.beforeWrapInner}"><f:format.raw>beforeWrapInner: '{settings.beforeWrapInner}',</f:format.raw></f:if>
		<f:if condition="{settings.afterWrapInner}"><f:format.raw>afterWrapInner: '{settings.afterWrapInner}',</f:format.raw></f:if>
		textOpen: '<f:if condition="{data.flexform_hiddenContentTextOpen}"><f:then>{data.flexform_hiddenContentTextOpen}</f:then><f:else><f:if condition="{settings.textOpen}">{settings.textOpen}</f:if></f:else></f:if>',
		textClose: '<f:if condition="{data.flexform_hiddenContentTextClose}"><f:then>{data.flexform_hiddenContentTextClose}</f:then><f:else><f:if condition="{settings.textClose}">{settings.textClose}</f:if></f:else></f:if>'
	</v:variable.set>
	<f:format.raw>
		<section id="c{ceUid}" class="{wrapperclasses}" {localizedAnchor}>
			{data.tx_gridelements_view_column_11001}
		</section>
		<f:if condition="{data.flexform_hideContent}">
			<f:if condition="{data.pi_flexform.data.hiddenContent.lDEF.hideContentAfter.el->f:count()} > 0">
				<v:asset name="contentWrapper-{data.uid}" fluid="TRUE" dependencies="jQuery">
					<script type="text/javascript">
						(function($) {
							$('#c{ceUid}').contentSlideout({
								<f:format.raw>{jsOptions}</f:format.raw>
							});
						})(jQuery);
					</script>
				</v:asset>
			</f:if>
		</f:if>
		<f:if condition="{data.flexform_sharebuttonsActive} > 0">
			<f:render partial="Sharebuttons" section="main" arguments="{_all}" />
		</f:if>
	</f:format.raw>
	</f:section>
</html>